.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.gameOver {
  background-color: rgb(230, 230, 127);
  color: black;
  
}

.grid {
  border: #cecece solid 1px;
  border-spacing: 1px;
  height: 50px;
  width: 50px;
}

.button {
  height: 50px;
  width: 50px;
  background-color: #282c34;
  color: #cecece;
}

.O {
  height: 50px;
  width: 50px;
  background-color: #282c34;
  color: #76e60e;
}

.X {
  height: 50px;
  width: 50px;
  background-color: #282c34;
  color: #df1fbf
}

.reset {
  margin-top: 10px;
  width: 150px;
}

.game-status {
  color: red;
  -webkit-text-stroke: 1px white;
}